.sideNav {
  ul {
    background: #ffffff;
    border-right: 1px solid #dbdee6;
    padding-top: 20px;
    .profile {
      margin: 39px 0;
      font-size: 16px;
      line-height: 19px;
      font-family: Söhne;
      color: #4d5760;
      align-items: center;
      display: flex;
      img {
        width: 32px;
        height: 32px;
        border-radius: 50px;
        margin-left: 57px;
        margin-right: 10px;
      }
    }
    a {
      font-family: Söhne;
      display: block;
      margin-bottom: 10px;
      color: #4d5760;
      padding: 11px;
      text-decoration: none;
      padding-left: 60px;
      border-left: 3px solid #ffffff;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      svg {
        margin-right: 10px;
        width: 15px;
      }
    }
    h6 {
      font-family: Söhne;
      font-weight: 400;
      color: #4d5760;
      padding-left: 63px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 12px;
      text-transform: uppercase;
    }
    .active {
      border-left: 2px solid #ff5403;
      color: #ff5403;
      svg {
        stroke: #ff5403 !important;
      }
    }
  }
  @media (max-width: 1150px) {
    ul {
      .profile {
        font-size: 14px;
        line-height: 16px;
        padding-left: 25px;
      }
      a {
        padding-left: 25px;
        font-size: 14px;
        line-height: 16px;
        svg {
          margin-right: 10px;
        }
      }
      h6 {
        padding-left: 28px;
      }
    }
  }
  @media (max-width: 760px) {
    ul {
      .profile {
        font-size: 14px;
        padding-left: 0px;
        img {
          margin-left: 27px;
        }
      }
      p {
        font-size: 26px;
      }
      a {
        padding-left: 25px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        svg {
          margin-right: 10px;
        }
      }
      h6 {
        padding-left: 28px;
      }
    }
  }
}
