:root {
  --black: #4d5760;
  --white: #ffffff;
  --primary: #ff5403;
}
// color: #131316;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Söhne;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
}

@font-face {
  font-family: Söhne;
  src: url("../assets/fonts/Söhne/TestSöhne-Buch.otf");
  font-weight: 400;
}

.global_container {
  max-width: 1440px;
  margin: 0 auto;
}
.cointainer {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #131316;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #131316;
}
h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #131316;
}
h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #131316;
}
// h5 {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 19px;
// }
// h6 {
//   font-weight: 600;
//   font-size: 12px;
//   line-height: 14px;
// }
img {
  max-width: 100%;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #131316;
}
span {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.layout {
  display: flex;
  justify-content: space-between;
}
.sideNavWrap {
  width: 20%;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  height: 100vh;
  overflow-y: scroll;
}
.contentsSection {
  width: 80%;
  background-color: #ffffff;
  // background: #E5E5E5;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 100px;
}
.no-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-transform: capitalize;
}
.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  text-transform: capitalize;
  & > div {
    width: 50%;
    text-align: center;
    button {
      margin-top: 20px;
    }
  }
}
.cancelSideNav {
  cursor: pointer;
  background-color: inherit;
  text-align: right;
  padding: 20px;
  padding-bottom: 0;
  display: none;
  position: sticky;
  top: 10px;
  right: 30px;
}
.openSideNavBtn {
  cursor: pointer;
  background-color: inherit;
  border: none;
  // position: absolute;
  // top: 105px;
  // left: -20px;
  display: none;
  // svg {
  //   width: 40px;
  // }
}
.loading {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1150px) {
  .sideNavWrap {
    width: 40%;
    position: absolute;
    top: 50px;
    display: none;
  }
  .contentsSection {
    width: 100%;
  }
  .openSideNavBtn {
    display: block;
    top: 10px;
    right: 30px;
    z-index: 2;
    position: fixed;
    svg {
      width: 20px;
    }
  }
  .openSideNav {
    display: block;
  }
  .cancelSideNav {
    display: block;
  }
}
@media (max-width: 760px) {
  h1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 48px;
    color: #131316;
  }

  h2 {
    font-size: 18px;
    line-height: 26px;
  }
  h3 {
    font-size: 16px;
    line-height: 20px;
  }
  h4 {
    font-size: 14px;
    line-height: 18px;
  }
  // .openSideNavBtn {

  // }
  .sideNavWrap {
    width: 80%;
    height: 100vh;
    z-index: 2;
  }
  .no-content {
    height: 50%;
    text-align: center;
    h3 {
      font-size: 14px;
    }
  }
}
