.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 20%;
    border-right: 1px solid #eff1f6;
    padding: 24px 0;
    svg {
      width: 53%;
    }
  }
  .title {
    width: 80%;
    h3 {
      width: 90%;
      margin: 0 auto;
    }
  }
  .menuBar {
    display: none;
  }
  .mobileNav {
    display: none;
  }
  .mobileNav {
    display: block;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    button {
      background-color: white;
      border: none;
    }
    li {
      list-style-type: none;
      width: 100%;
      text-align: center;
      padding: 20px;
    }
    p {
      text-align: right;
      width: 80%;
      button {
        cursor: pointer;
        border: 1px solid rgba(84, 95, 125, 0.07);
        padding: 8px 12px;
        border-radius: 50px;
        font-size: 34px;
        opacity: 0.5;
      }
    }
  }
  @media (max-width: 1150px) {
    padding: 5px 20px;

    .logo {
      width: 20%;
      border-right: 1px solid #eff1f6;
      padding: 0;
      svg {
        width: 53%;
      }
    }

    .title {
      display: none;
    }
  }
  // @media (max-width: 760px) {
  //   .logo {
  //     width: 150px;
  //     svg {
  //       width: 80%;
  //     }
  //   }

  //   .menuBar {
  //     display: block;
  //     svg {
  //       width: 25px;
  //     }
  //   }
  // }
}
